//Images
$wallpaperOne: "images/64.jpg";
$wallpaperTwo: "images/sunshine.jpg";
$wallpaperThree: "images/galaxy.jpg";
$NAVIMAGE: "images/navImage.png";
$NAVIMAGE2: "images/navImage2.png";


//font
$fontSizeP: 1.2vw;
$fontSizeH1: 3vw;
$marioFont: "./SuperMario256.ttf";

//64
$gradColor: rgb(255, 0, 0);
$gradColor2: rgb(109, 16, 0);

//Sunshine
$gradColor3: rgb(60, 193, 255);
$gradColor4: rgb(37, 132, 177);

//Galaxy
$gradColor5: rgb(57, 20, 160);
$gradColor6: rgb(36, 123, 163);